<app-navigation-bar></app-navigation-bar>

<div class="container content-wrapper">
    <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let application of applications; index as i">
            <a class="nav-link cursor-pointer" data-toggle="tab" [class.active]="selectedApplication.id === i + 1"
                (click)="selectApplication(this.applications[i])">{{ application.name }}
            </a>
        </li>
    </ul>

    <div class="container d-flex p-0 mt-4">
        <div class="form-group w-25">
            <label>
                Time Duration
            </label>
            <select class="form-control" #timeDurationId (change)="selectTimeDuration(timeDurationId.value)">
                <option *ngFor="let timeDuration of timeDurations" value="{{timeDuration.id}}">
                    {{ timeDuration.name }}
                </option>
            </select>
        </div>
        <div class="form-group w-25 ml-4">
            <label>
                SchoolId
            </label>
            <input class="form-control" type="text" #schoolId placeholder="Enter SchoolId"
                (keyup)="selectSchoolId(schoolId.value)">
        </div>
        <div class="form-group w-25 ml-4">
            <label>
                UserId
            </label>
            <input class="form-control" type="text" #userId placeholder="Enter UserId"
                (keyup)="selectUserId(userId.value)">
        </div>
    </div>

    <table class="table table-hover mt-2">
        <thead>
            <tr class="table-primary">
                <th scope="col">
                    <div>
                        Date
                    </div>
                </th>
                <th scope="col">
                    <div class="d-none d-sm-block">
                        Status Code
                    </div>
                </th>
                <th scope="col">
                    <div class="d-none d-sm-block">
                        SchoolId
                    </div>
                </th>
                <th scope="col">
                    <div class="d-none d-sm-block">
                        UserId
                    </div>
                </th>
                <th scope="col">
                    <div>
                        Exception
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let errorLog of errorLogs; index as i" [ngClass]="i % 2 == 0 ? '' : 'table-light'"
                (click)="openErrorLogModal(errorLog.errorLogId)" class="cursor-pointer">
                <td>
                    <div>
                        {{ errorLog.date | date:'dd/MM/yy hh:mm'}}
                    </div>
                </td>
                <td>
                    <div class="d-none d-sm-block">
                        {{ errorLog.statusCode }}
                    </div>
                </td>
                <td>
                    <div class="d-none d-sm-block">
                        {{ errorLog.schoolId }}
                    </div>
                </td>
                <td>
                    <div class="d-none d-sm-block">
                        {{ errorLog.userId }}
                    </div>
                </td>
                <td>
                    <div>
                        {{ errorLog.exception }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>